<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link href="//cdn.kendostatic.com/2013.1.319/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="//cdn.kendostatic.com/2013.1.319/styles/kendo.default.min.css" rel="stylesheet" />
        <link href="styles/kendo.web.plugins.css" rel="stylesheet" />
    </head>
    <body>
        <div data-role="view" id="single-activity" data-layout="default" class="activity-view" data-init="app.Activity.init" data-show="app.Activity.show">
            <div data-role="header">
                <div data-role="navbar">
                    กระดานของคุณ
                    <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">กลับ</a>
                    <a class="nav-button nav-button-post" data-align="right" data-role="button" href="views/addCommentView.html">Comment</a>
                </div>
            </div>
            <div id="status-container" class="user-status-wrp cf" data-role="listview" data-style="inset">
                <div class="user-avatar">
                    <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
                </div>
                <div class="activity-content">
                    <h2 id="personName" class="person-name" data-bind='text: User().DisplayName'></h2>
                    <span id="activityDate" class="time-span" data-bind="text: CreatedAtFormatted"></span>
                    <span id="activityText" data-bind="text: Text" class="user-share-txt"></span>
                    <img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%"/>
                    <div id="example">
    <script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    text: "Site Visitors Stats \n /thousands/"
                },
                legend: {
                    visible: false
                },
                seriesDefaults: {
                    type: "bar"
                },
                series: [{
                    name: "Total Visits",
                    data: [56000, 63000, 74000, 91000, 117000, 138000]
                }, {
                    name: "Unique visitors",
                    data: [52000, 34000, 23000, 48000, 67000, 83000]
                }],
                valueAxis: {
                    max: 140000,
                    line: {
                        visible: false
                    },
                    minorGridLines: {
                        visible: true
                    }
                },
                categoryAxis: {
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    template: "#= series.name #: #= value #"
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script> 
</div>
                    <div class="comments-wrp">
                        <ul id="comments-listview"></ul>
                    </div>
                </div>
            </div>
    
            <div data-role="footer">
                <a data-role="button" data-bind="visible: isVisible" data-click="app.Activity.remove" class="btn btn-delete">ลบ</a>
            </div>
        </div>

        <!-- Comments Template -->
        <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="//cdn.kendostatic.com/2013.1.319/js/kendo.all.min.js"></script>
        <script src="js/kendo.web.plugins.js"></script>
        <script type="text/x-kendo-template" id="commentsTemplate">
            <div class="comment-content">
                <h2 class="person-name">${User()}</h2>
                <span class="time-span">${CreatedAtFormatted()}</span>
                <a class="user-share-txt">${Comment}</a>
            </div>
        </script>
    </body>
</html>
