
      <div data-role="layout" data-id="default">
            <!--View content will render here-->
        </div>
        <!--WELCOME VIEW -->
        <div data-role="view" id="welcome" data-layout="default" class="welcome-scrn form-view" data-model="app.Login" data-init="app.Login.init" data-show="app.Login.show">
            <div data-role="header"><h3 align="Center">Photo Upload</h3></div>
 
            <ol class="group-wrp">
                <li>
                    <span id="login" data-role="touch" data-bind="events: { tap: login }">
                        <a data-role="button" class="capturePhotoButton">Snap</a>
                    </span>
                </li>
                
                <li class="signup">
                    <a data-role="button" href="views/signupView.html" class="btn-signup">Don't have an account?</a>
                </li>
            </ol>

            <div data-role="footer"></div>
        </div>
