<!DOCTYPE html>
<html>
    <head></head>
  <body>
        <div data-role="view" id="single-activity" data-layout="default" class="activity-view" data-init="app.Activity.init" data-show="app.Activity.show">
            <div data-role="header">
                <div data-role="navbar">
                    Add Photo
                    <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">กลับ</a>   
            </div>
         
    
          
        </div>
           </div>
       
    </body>
</html>
