<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.Activities">
            <div data-role="header">
                <div data-role="navbar">
                    My profile
                    <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="views/activitiesView.html">Back</a>
                    <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" href="">Edit profile</a>
                </div>
            </div>
            <div class="user-avatar">
                <img data-bind="attr:{src: me.get('data').PictureUrl}" alt="styles/images/avatar.png" />
            </div>
               <h2 class="person-name" data-bind="text: me.get('data').DisplayName">Me</h2><br>
               <h2>Username: </h2><h2 class="person-name" data-bind="text: me.get('data').Username">Me username</h2><br>
               <h2>Email: </h2><h2 class="person-name" data-bind="text: me.get('data').Email">Me email</h2><br>
               <h2>Name:</h2><h2 class="person-name" data-bind="text: me.get('data').Firstname">Me firstname</h2>
                                 <h2 class="person-name" data-bind="text: me.get('data').Lastname">Me lastname</h2><br>
           
        </div>
    </body>
</html>