<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
            <div data-role="header">
                <div data-role="navbar">
                    My profile
                    <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="views/activitiesView.html">Back</a>
                    <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" href="">Edit profile</a>
                </div>
            </div>
            <script>
                var el = new Everlive('8V8ecMpYsIMnoghp');
                    el.Users.currentUser()
                    .then(function (data) {
                         alert(JSON.stringify(data));},
                    function(error){
                         alert(JSON.stringify(error));
                    });
            </script>
    </body>
</html>